.header{
    background-color: #3c0080;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 0;
}

.header h1 {
    margin: 0;
}

.header button{
    background-color: #ffbb00;
    border: 1px solid #ffbb00;
    padding: 0 30px;
    border-radius: 5px;
    font-size: 1.125rem;
}

.header button:hover{
    cursor: pointer;
}

.header button:hover , .header button:focus{
    background-color: #ffa600;
    border-color: #ffa600;
}