.login-form{
    padding: 20px;
    width: 400px;
    height: 255px;
    text-align: center;
    margin-top: 200px;
    background-color: #f4f0fa;
}

.login-form form{
    display: flex;
    flex-direction: column;
}

.login-form label{
    color: #616161;
    font-size: 1.125rem;
}

.login-form input{
    border-radius: 4px;
    border: 1px solid #616161;
    height: 1.75rem;
    padding: 5px;
}

.login-form input:focus{
    border: 2px solid #3c0080;
    outline: none;
}
.login-form label,.login-form input{
    margin-bottom: 10px;
}

.login-form div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form button{
    width: 100px;
    padding: 10px;
    border-radius: 4px;
    background-color: #3c0080;
    color: white;
    border: 1px solid #3c0080;
    font-size: 1rem;
    margin-top: 10px;
}

.login-form button:hover{
    cursor: pointer;
    background-color: #5b14ac;
    border: 1px solid #f4f0fa;
}

.login-form p {
    color: #3c0080;
    font-size: 1rem;
    margin-top: 10px;
}

.login-form p:hover{
    color: #5b14ac;
    cursor: pointer;
}

.login-form h4{
    color: darkred;
}

.login-form h3{
    color: #ffbb00;
}